<h1>Album: <%= @album.title %></h1>

<%= link_to "Edit Album", edit_album_url(@album), class: "btn btn-edit" %>
<%= link_to "Delete Album", album_url(@album), method: :delete, class: "btn btn-delete" %>

<table>
  <thead>
    <tr>
      <th>Band</th>
      <th>Year</th>
      <th>Live Album</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @album.band_name %></td>
      <td><%= @album.year %></td>
      <td><%= @album.live_album %></td>
    </tr>
  </tbody>
</table>

